Monografia/*.dvi
Monografia/*.ps
Monografia/*-current
Monografia/*.bbl
Monografia/*.aux
Monografia/*.log
Monografia/*.toc
Monografia/*.cb
Monografia/*.out
Monografia/*.blg
Monografia/*.brf
Monografia/*.ilg
Monografia/*.ind
Monografia/*.lof
Monografia/*.lot
Monografia/*.idx
Monografia/*.bcf
Monografia/*.fls
Monografia/*.run.xml
Monografia/*.synctex
Monografia/*.synctex.gz
Monografia/*.fdb_latexmk
Monografia/*.nav
Monografia/*.snm
Monografia/*.vrb
Monografia/*.lop
Monografia/*.(busy)
Monografia/timestamp
Monografia/mkidxhead.ist
Monografia/hyperxindy.xdy
Monografia/missfont.log
Monografia/pre-compilados/*exemplo.pdf
Projeto/SARC_dataset/*
Projeto/__pycache__/*
Projeto/.vscode/*
Projeto/venv/*
Materiais/*
